*{
    padding: 0;
    border: 0;
}

body{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

main{
    display: flex;
    background: #293556;
   /*  background: linear-gradient(0deg, rgba(183,244,245,0.739670868347339) 38%, rgba(66,253,45,1) 100%); */
    height: 650px;
    width: 700px;  
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 16px;
}

form{
    height:400px;
    width: 300px;
    border-radius: 16px;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(198, 196, 196, 0.15);
}


div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
}


div input{
    border: 1px black solid;
}

button{ 
    background-color: rgb(3, 249, 36);
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 38%;
}